<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwwCMV9pPNC_TVgm7GMJHsESdv44JeW_E</string>
	<key>GCM_SENDER_ID</key>
	<string>760099392262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurantManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>restaurant-management-sy-db090</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-management-sy-db090.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760099392262:ios:58b570e90841c827002c87</string>
</dict>
</plist>